.features {
  padding: 2rem;
  background-color: var(--color-secondary-cyan);
  color: var(--color-primary-dark);
}

.features__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}

.features__cards {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.features__feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto 1rem;
  max-width: 25ch;
}

.features__feature-card-title {
  margin: 1rem auto;
}

.features__feature-card-icon {
  background-color: var(--color-secondary-serenade);
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: var(--border-radius);
}
